<div class="container-fluid">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <span class="navbar-text">
        <h1>TuSegundazo.com</h1>
      </span>
    </div>
  </nav>
</div>
<div class="container-fluid principal">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="contenedor-logo">
        <img src="./../assets/logo.png" alt = "logo" />
      </div>
      <div class="contenedor-tabla">
        <app-vehiculo-list></app-vehiculo-list>
      </div>
    <div class="col-3">
    </div>
  </div>
</div>
<div class="container-fluid">
  <nav class="navbar footer" style="background-color: #e3f2fd;">
    <b>Acerca de nosotros</b>
    <b>FAQ</b>
    <b>Contáctenos</b>
  </nav>
</div>

